@-moz-document url-prefix() {
  .body {
    float: left;
    overflow-x: hidden;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 210%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.landingpage-body {
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../../components/pictures/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.side-container {
  position: relative;
  height: 70%;
  width: 70%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.leftside {
  position: relative;
  height: 100%;
  width: 65%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightside {
  position: relative;
  height: 100%;
  width: 35%;
  background: rgb(3, 3, 82);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-div {
  position: relative;
  height: 65%;
  width: 100%;
  border-top-left-radius: 5px;
  background: url("../../components/pictures/hci.png");
  background-repeat: no-repeat;
  background-position: center;
}

.button-div {
  position: relative;
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.handler__buttons__div {
  position: relative;
  height: 45px;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: black;
}
.handlerButtons {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: rgb(19, 19, 19);
  color: white;
  font-weight: normal;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .handlerButtonsLink {
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.handlerButtons:hover {
  background: rgb(73, 73, 73);
  color: rgb(197, 197, 197);
}
#moduleAssignmentsBtn {
  left: 20%;
}
#syllabusBtn {
  right: 20%;
}

.topside {
  position: relative;
  height: 50%;
  width: 100%;
  background: url("../../components/pictures/topsidebg.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bottomside {
  position: relative;
  height: 50%;
  width: 100%;
  background: url("../../components/pictures/bottomside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 376px) {
  .title-div {
    background: url("../../components/pictures/hci.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .side-container {
    height: 85%;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
  }
  .leftside {
    height: 50%;
    width: 100%;
  }
  .rightside {
    height: 50%;
    width: 100%;
  }
  .handler__buttons__div {
    width: 40%;
  }
  .topside {
    background: url("../../components/pictures/topsidebg_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .bottomside {
    background: url("../../components/pictures/bottomside_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
